
html{
    /* height: 100%; */
    height:auto
}

body {

  background-color: #2f3035;
  background-image: url("../Images/background-adare-restaurant.jpg");
  background-size:cover ;
  /* background-size:auto ; */
  background-repeat: no-repeat;
  background-position: center;

}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
 
}

header {
  height: 118px;
  text-align: center;
}

nav {
  /* height: 40px; */
  background-color: rgba(0, 0, 0, 0.338);
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

main {
  text-align: center;
  height: 400px;
  padding-top: 80px;
  padding-left: 240px;
  padding-right: 240px;
}

footer {
  height: 200px;
  background-color:rgba(7, 7, 7, 0.549);
}

h1 {
  font-size: 84px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

p {
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
    text-decoration: none;
    margin-top: 10px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p {
    text-align: center;
    padding-top: 104px;
    font-size: 12px;
    font-style: italic;
}

.maps{
    padding-bottom: 100px;
}

/* h4{
    color: whitesmoke;
    font-size: 37px;
    font-family: 'Playball', cursive;

    
} */

nav a:hover{
   background-color: whitesmoke;
   color: black;
   padding:15px;
   border-radius: 5px;
}